PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/ankit_portfolio
JWT_SECRET=super_secret_jwt_key_ankit_2026_change_in_production
JWT_EXPIRE=7d

ADMIN_EMAIL=ankitkumar952390@gmail.com
ADMIN_PASSWORD=Admin@Ankit2026#Secure

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ankitkumar952390@gmail.com
SMTP_PASS=your_app_password_here
NOTIFICATION_EMAIL=ankitkumar952390@gmail.com

CLIENT_URL=http://localhost:5173
